<div class="container">
  <div class="col-md-8">
    <h1>Survey
      <a href="/">
        <button type="button" class="btn btn-success">Add New Survey</button>
      </a>
    </h1>

    <% if flash[:alert] %>
     <div class="alert alert-success"><%= flash[:alert] %></div>
   <% end %>

    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Location</th>
          <th>Favorite Language</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @surveys.each do |survey| %>
        <tr>
          <td><%= survey.id %></td>
          <td><%= survey.name %></td>
          <td><%= survey.location %></td>
          <td><%= survey.language %></td>
          <td><a href="/survey/<%= survey.id %>"><button type="button" class="btn btn-info">Details</button></a>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
